.main-container{
    background-color: #ffff;
    width: 30%;
    border-radius: 4px;
    height: 500px;
    text-align: center;
    margin-top: 80px;


}
main{
    justify-content: center;
    display: flex;
    align-items: center;  
}
.create-account{
    margin-top: 20px;
}

